CH_HelloWorld/UnitTestHelloWorld/Web References/WSAPIService/WSHelloWorld.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHello">
        <s:complexType />
      </s:element>
      <s:element name="GetHelloResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHelloResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteFile">
        <s:complexType />
      </s:element>
      <s:element name="WriteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHelloSoapIn">
    <wsdl:part name="parameters" element="tns:GetHello" />
  </wsdl:message>
  <wsdl:message name="GetHelloSoapOut">
    <wsdl:part name="parameters" element="tns:GetHelloResponse" />
  </wsdl:message>
  <wsdl:message name="WriteFileSoapIn">
    <wsdl:part name="parameters" element="tns:WriteFile" />
  </wsdl:message>
  <wsdl:message name="WriteFileSoapOut">
    <wsdl:part name="parameters" element="tns:WriteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="WSHelloWorldSoap">
    <wsdl:operation name="GetHello">
      <wsdl:input message="tns:GetHelloSoapIn" />
      <wsdl:output message="tns:GetHelloSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteFile">
      <wsdl:input message="tns:WriteFileSoapIn" />
      <wsdl:output message="tns:WriteFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHelloWorldSoap" type="tns:WSHelloWorldSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHello">
      <soap:operation soapAction="http://tempuri.org/GetHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteFile">
      <soap:operation soapAction="http://tempuri.org/WriteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHelloWorldSoap12" type="tns:WSHelloWorldSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHello">
      <soap12:operation soapAction="http://tempuri.org/GetHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteFile">
      <soap12:operation soapAction="http://tempuri.org/WriteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSHelloWorld">
    <wsdl:port name="WSHelloWorldSoap" binding="tns:WSHelloWorldSoap">
      <soap:address location="http://localhost:64074/WSHelloWorld.asmx" />
    </wsdl:port>
    <wsdl:port name="WSHelloWorldSoap12" binding="tns:WSHelloWorldSoap12">
      <soap12:address location="http://localhost:64074/WSHelloWorld.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>